.header{
margin: 50px 140px 0px 140px;
border-radius: 16px;
width: 1320px;
height: 600px;
/* background-image: url('../images/Banner\ Image.png'); */
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
background-repeat: no-repeat;
background-position: center;
text-align: center;
}

.head{
    padding-top: 60px;
}
.new{
color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-weight: 400;
}
.party{
font-family: Merriweather;
color: #FFF;
text-align: center;
font-size: 72px;
font-weight: 900;
line-height: 95px;
}
.offer{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-weight: 700;
padding-top: 120px;
}
.deals{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-weight: 500;
padding-top: 48px;
}
.categorie{
color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-weight: 700;
}
.newyear{
    height: 400px;
    width: 400px;
    margin: 0% 40%;
}
.banner{
/* background-image: url('../images/Vectorrr.png'); */
background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../images/Vectorrr.png');
width: 1320px;
height: 600px;
margin-top: 150px;
text-align: left;
display: flex;
/* padding: 10px; */
}
.midnight{
color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
line-height: 88px; 
letter-spacing: 7.04px;
padding: 120px;
}
.midnight-title{
color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px;
width: 700px;
height: 60px;
}
.join{
    color: #FFF;
    background-color:transparent;
    padding-left: 32px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
 margin-bottom: 50px;
 border: 0px;
}
.image-side{
    margin-top:68px ;
    margin-left: 138px;
}
.new-div{
    margin-top: -50px;
    margin-left: 120px;
}