.header{
/* margin: 50px 140px 0px 140px; */
border-radius: 16px;
width: 1320px;
height: 600px;
/* background-image: url('./Banner\ Image.png'); */
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
background-repeat: no-repeat;
background-position: center;
text-align: center;
}

.head{
padding-top: 60px;
}
.new{
color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-weight: 400;
}
.party{
font-family: Merriweather;
color: #FFF;
text-align: center;
font-size: 72px;
font-weight: 900;
line-height: 95px;
}
.offer{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-weight: 700;
padding-top: 120px;
}
.deals{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-weight: 500;
padding-top: 48px;
}
.categorie{
color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-weight: 700;
}
.newyear{
    height: 400px;
    width: 400px;
    margin: 0% 25%;
}
.new-think{
    height: 835px;
    width:1320px ;
}
.banner{
/* background-image: url('../images/Vectorrr.png'); */
background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../images/Vectorrr.png');
width: 1320px;
height: 600px;
margin-top: 150px;
text-align: left;
display: flex;
/* padding: 10px; */
}
.midnight{
color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
line-height: 88px; 
letter-spacing: 7.04px;
padding: 120px;
}
.midnight-title{
color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px;
width: 700px;
height: 60px;
}
.join{
    color: #FFF;
    background-color:transparent;
    padding-left: 32px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
 margin-bottom: 50px;
 border: 0px;
}
.image-side{
    margin-top:68px ;
    margin-left: 100px;
}
.new-div{
    margin-top: -50px;
    margin-left: 120px;
}
.pink{
color: #070211;
font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 56px;
margin-top: 100px;
padding-top: 100px;
}
.pink-back{
width: 1320px;
height: 482px;
background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
text-align: center;
}
.red{
color: #F00;
}
.join-btn{
border-radius: 8px;
background: #F00;
padding: 16px 32px;
border: 0px;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;3
}
.three{
display: flex;
width: 1320px;
height: 482px;
background-color: #FFF;
}
.best{
color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.first{
    width: 33%;
    padding: 20px;
}
.second{
    width:33% ;
border-radius:400px;
border: 15px solid #F00;
width: 400px;
height: 400px;}
.ellip{
width: 364.844px;
height: 364.844px;
border-radius: 364.844px;
padding-top: 20px;
padding-left: 10px;
/* padding-left: 40px; */
}
.again{
color: #F00;
font-family: Inter;
font-size: 48px;
font-weight: 700;
}
.third{
    width:33%;
    padding-left: 30px;
}
.coming{
color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
}
.description{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;}
.holiday{
margin-top:100px;
text-align: center;
width: 1320px;
height:500px
}
.sales{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;  
}
.change-color{
color: #F00;
}
.function{
    color: #070211;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.holiday-dicp{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin:0px 250px;
}
.open{
    height: 482px;
     width: 1320px;
     position: relative;
    
    }
    .girl-image{
        width: 429px;
    height: 433px;
    position: absolute;
    left: 890px;
    }
    .red-rectangle{
        width: 1320px;
        height: 229px;
        top: 432px;
        border-radius: 16px 0px 16px 16px;
    background: #F00;
    position: absolute;
    }
    .discount{
        color: #FFF;
    font-family: Inter;
    font-size: 24.338px;
    font-weight: 900;
    position: absolute;
    top:90px;
    left: 750px;}
    .vector{
    height: 200px;
    width:200px;
    position:absolute;
    top:20px;
    bottom:50px;
    fill: #726131;
    }
.best-gift{
color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-bottom: 48px;
margin-top: 100px;
}
.awesome-portfolio{
color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
}
.best-des{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
width: 896px;
padding-bottom: 50px;
}
.main-part{
    padding: 50px;
    margin-top:100px;
    width:500px;
    height: 300px;
}
.div{
    display: flex;
    gap:24px;
    margin-bottom: 24px;
}
.hover:hover{
    background-color: yellow;
    padding: 20px;

}
.six-pic{
    margin: 50px;
}
.again-div{
display: flex;
gap: 24px;
}
.last-main{
padding: 100px;
text-align: center;
width: 1120px;
height: 416px;
border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
gap: 40px;
margin-bottom: 120px;
}
.input{
display: flex;
padding:0px 250px;

}
.subscribe{
color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
}
.dolor{
padding: 0px 212px;
}
.email{
border-radius: 50px 0px 0px 50px;
text-align: center;
background: #FFF;
width: 648px;
height: 72px;
border: 0px;
}
.sub{
border-radius: 0px 50px 50px 0px;
border: 0px;
background: #F00;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
width: 210px;
height: 72px;
font-weight: 600;
}
.footer{
background: #070211;
width: 1200px;
height: 509px;
padding: 140px;
color: #FFF;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.footer-first{
justify-content: space-between;
display: flex;
padding-bottom: 50px;
}
.add-image{;
text-align: center;
padding: 50px 0px;
}
.finish{
display: flex;
justify-content: space-between;
padding-top: 50px;
}